@keyframes indicator {
  from {
    left: -20px;
  }

  to {
    left: -16px;
  }
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: flash 0.3s 0.3s alternate;
}

@keyframes flash {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--icon-fill);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--icon-fill);
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--icon-fill);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--icon-fill);
  transition: fill 0.3s 0.05s linear;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--icon-fill);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heartbeat 0.3s 0.1s alternate;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center;
  }

  to {
    transform: scale(1.5);
    transform-origin: center;
  }
}
